.breadcrumb
  %span
    %a= "分享旅游"
  >
  %span
    %a= "目的地"
  >
  %span
    %a= "福建"
  >
  %span= "厦门"
.cities
  .name-area
    %span.name= "厦门"
    %span.star= "*****"
    %button.add-plan= "加入计划"
    %button.want-go= "想去(2709)"
    %button.have-go= "去过(8155)"
    %span.weather= "天气pic"
  .desc-area
    = "来到这儿才知道什么是好生活：悠闲，手工，小吃——用一种小资的情怀来邂逅一只猫狗。"
  .mainpic-area
    = "pics"
  %nav
    %span.area1
      %a= "概述"
    |
    %span.area2
      %span
        %a= "图片"
      %span
        %a= "路线"
      %span
        %a= "地图"
      %span
        %a= "交通"
    |
    %span.area3
      %span
        %a= "住宿"
      %span
        %a= "美食"
      %span
        %a= "购物"
      %span
        %a= "活动"
    |
    %span.area4
      %span
        %a= "文化地理"
      %span
        %a= "实用信息"
      %span
        %a= "小贴士"
  .content-box
    .main-box
      .detail-not-missing
        %div.name= "不可错过"
        .pic-area
          %span= "图片1"
          %span= "图片2"
      .detail-hot-lines
        .name= "热门线路"
        .pic-area
          %span= "图片1"
          %span= "图片2"
      .detail-travel-notes
        .name= "精彩游记"
        .notes-list
          .title= "杭州、乌镇、上海，行走在大城小巷"
          .detail
            = "...坐在电脑前，开始一段段回忆旅途中所发生的及遇见的点点滴滴，不想错过每一个细节..."
    %aside
      .detail_tips
        .ticket
          .name= "门票"
          .desc= "联票150元"
        .open-time
          .name= "开放时间"
          .desc= "8:00-17:00 (冬季17:00)"
        .advices
          %span.title= "建议游玩时间:"
          %span.time= "2天"
        .position
          %span.title= "位置"
          %span.desc= "浙江省嘉兴市桐乡市"
        .address
          %span.title= "地址"
          %span.desc= "浙江省嘉兴市桐乡石佛南路18号"
        .phonenumber
          %span.title= "电话"
          %span.desc= "0573--88731088"
        .best-time
          .name= "最佳旅游时节"
          .desc= "春天和秋天。一天中最美的时候是清晨与傍晚。清晨，河道上会漫起薄薄的雾气，仿佛梦境。傍晚，夕阳西照，游人散尽，一个生活着的乌镇出现在面前"



