%div.selector-area
  %div.selector
    %div.cities
      %span
        = link_to "浙江", "#"
      %span.sep
        = "|"
      %span
        = link_to "杭州", "#"
      %span
        = link_to "金华", "#"
      %span
        = link_to "宁波", "#"
      %span
        = link_to "义乌", "#"
    %div.cities
      %span
        = link_to "江苏", "#"
      %span.sep
        = "|"
      %span
        = link_to "苏州", "#"
      %span
        = link_to "南京", "#"
      %span
        = link_to "无锡", "#"
      %span
        = link_to "扬州", "#"
    %div.cities
      %span
        = link_to "广东", "#"
      %span.sep
        = "|"
      %span
        = link_to "深圳", "#"
      %span
        = link_to "珠江", "#"
      %span
        = link_to "惠州", "#"
      %span
        = link_to "甚江", "#"
    %div.cities
      %span
        = link_to "河北", "#"
      %span.sep
        = "|"
      %span
        = link_to "秦皇岛", "#"
      %span
        = link_to "承德", "#"
      %span
        = link_to "石家庄", "#"
      %span
        = link_to "保定", "#"
    %div.more
      = link_to "更多  >>>", "#"
%div.topic-area
  %div.nav-node
    %div
      %span 热门
      %span 新建
  %div.topics
    %div.topic
      %div.user-area
        = image_tag "", :rel => "img"
      %div.topic-content
        %div.topic-summary
          %span.city
            = link_to "杭州", "#"
          %span.fee
            = "￥: 1200"
          %span.time
            = "3天"
          %span.type
            = "休闲"
        %div
          %span
            = link_to "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", "#"
    %div.topic
      %div.user-area
        = image_tag "", :rel => "img"
      %div.topic-content
        %div.topic-summary
          %span.city
            = link_to "杭州", "#"
          %span.fee
            = "￥: 1200"
          %span.time
            = "3天"
          %span.type
            = "休闲"
        %div
          %span
            = link_to "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", "#"
    %div.topic
      %div.user-area
        = image_tag "", :rel => "img"
      %div.topic-content
        %div.topic-summary
          %span.city
            = link_to "杭州", "#"
          %span.fee
            = "￥: 1200"
          %span.time
            = "3天"
          %span.type
            = "休闲"
        %div
          %span
            = link_to "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", "#"
    %div.topic
      %div.user-area
        = image_tag "", :rel => "img"
      %div.topic-content
        %div.topic-summary
          %span.city
            = link_to "杭州", "#"
          %span.fee
            = "￥: 1200"
          %span.time
            = "3天"
          %span.type
            = "休闲"
        %div
          %span
            = link_to "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", "#"
    %div.topic
      %div.user-area
        = image_tag "", :rel => "img"
      %div.topic-content
        %div.topic-summary
          %span.city
            = link_to "杭州", "#"
          %span.fee
            = "￥: 1200"
          %span.time
            = "3天"
          %span.type
            = "休闲"
        %div
          %span
            = link_to "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", "#"
