<!DOCTYPE html>
%html
  %head
    %title Share-Travel.net
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section#page
      %header#header
        = render 'shared/header'
      %section#content
        = yield
      %footer
        = render 'shared/footer'
